{% extends 'includes/base.html' %}

{% block title %}Drawing #{{ drawing.id }}{% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li class="mt-1"><a href="/">Home</a></li>
            <li><a href="{{ url_for('raffle.manage_drawings') }}">Manage Drawings</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ drawing.name }}</a></li>
        </ul>
    </nav>
    <section class="hero is-small">
        <div class="hero-body">
            <p class="title">Edit Drawing #{{ drawing.id }}</p>
            <p><strong>Drawing Prizes</strong></p>
                {% if drawing_prizes.count() == 0  %}
                    <p class="ml-3">No prizes selected yet for this drawing. Add them with the buttons below.</p>
                {% endif %}
                {% for _prize in drawing_prizes | batch(4) %}
                <div class="columns">
                    {% for prize in _prize %}
                        <div class="column">    
                            <article class="message is-primary">
                                <div class="message-header">
                                <p>#{{ prize.prize_id }} - {{ prize.prize.name }}</p>
                                <a href="?remove={{ prize.id }}" class="delete" aria-label="delete"></a>
                                </div>
                                <div class="message-body">
                                    <img src="{{ prize.prize.image_url }}" style="max-width:80px;max-height:80px;">
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <form action="" method="post">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                    <input class="input" name="name" type="text" value="{{ drawing.name }}">
                    </div>
                </div>
                <div class="field is-grouped mt-4">
                    <div class="control">
                        <a href="" class="button is-link is-light">Cancel</a>
                    </div>
                    <div class="control">
                        <button class="button is-link">Save</button>
                    </div>
                    <div class="control">
                        <a class="button is-danger js-modal-trigger" data-target="modal-delete-confirm">Delete</a>
                    </div>
                </div>
            </form>
        </div>
        <div>
            {% for prize in all_prizes %}
                <div class="column">
                    <a class="button" href="{{ url_for('raffle.show_drawing', id=drawing.id, add=prize.id) }}">Add {{ prize.name }}</a>
                </div>
            {% endfor %}
        </div>
    </section>
    <div id="modal-delete-confirm" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="box">
            <p class="title">Confirm Deletion</p>
            <p class="subtitle">Are you sure you want to delete drawing #{{ drawing.id }} ({{ drawing.name }})?</p>
            <a href="" class="button is-light m-4">Cancel</a>
            <a href="{{ url_for('raffle.delete_drawing', id=drawing.id) }}" class="button is-danger m-4">Delete It</a>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
{% endblock %}